@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    --teal: #00857A;
    --black: #161616;
    --duration: .15s;
    color: var(--black);
}

.gray-border {
    border-color: rgba(255, 255, 255, .4);
}

.regular-text {
    font-size: 14px;
}
.section-title {
    font-size: 40px;
    font-family: "Lora", serif;
    letter-spacing: 2px;
    font-weight: 60;
}


.bg-restaurant-interior {
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}

section {
    min-height: 100vh;
}

.full-story-button {
    border: 1px solid var(--teal);
    color: var(--black);

    transition: all;
    transition-duration: var(--duration);
}
.full-story-button:hover {
    background-color: var(--teal);
    color: white
}

.banner-bar {
    background-image: url("../../public/bar.jpg");
}

.schedule-image {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:400px;
}

.food {    
    background-image: url("../../public/food_mobile.jpg");
}
.person-with-cup {
    background-image: url("../../public/person-with-cup_mobile.jpg");
}

.booking {
    background-size: cover;
    background-position: center center;
    min-height: 100vh;

    background-image: url("../../public/booking-bg.jpg");
}

.booking-input {
    width: 100%;
    background-color: transparent;
    color: white;
}
.booking-input::placeholder {
    color:white;
}

::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background: url("../../public/calendar-small.svg") no-repeat center;
    background-size: contain;
  }

@media (min-width: 768px) {
    .regular-text {
        font-size: 17px;
    }
    .section-title {
        font-size: 50px;
    }
    .food {
        background-image: url("../../public/food_tablet.jpg");
    }
    .person-with-cup {
        background-image: url("../../public/person-with-cup_tablet.jpg");
    }
    .schedule-image {
        height: 500px;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .regular-text {
        font-size: 20px;
    }
    .section-title {
        font-size: 60px;
    }
    .food {
        background-image: url("../../public/food.jpg");
    }
    .person-with-cup {
        background-image: url("../../public/person-with-cup.jpg");
    }
    .schedule-image {
        width: 650px;
        height: 500px;
    }
}
